__pycache__/
*.pyc
MT_Py_Claude_Telegram_Solution/python/logs/*.log
MT_Py_Claude_Telegram_Solution/python/logs/*.csv
MT_Py_Claude_Telegram_Solution/ClaudeSMC_Trader/python/logs/**/*.log
MT_Py_Claude_Telegram_Solution/ClaudeSMC_Trader/python/logs/**/*.csv
